---
layout: default
---
{% include base.html %}
<section id="intro" class="hero is-fullheight">
  	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered is-vcentered">
				<div class="column is-fullwidth has-text-centered">
					<img src="{{base}}/assets/images/tng_logo.png"  class="logo" alt="The New Gazette">
					<h2 class="primary-dark">
						Just the local news you needed — preserved and freely available.
					</h2>
				</div>
			</div>
		</div>
	</div>
	<a href="#publications">
		<div>See our archived publications</div>
		<span class="icon is-large">
		  <i class="fas fa-l2x fa-play"></i>
		</span>
	</a>
</section>

{% if site.publications %}
<section id="publications" class="section" name="publications">

	{% for pub in site.publications %}
	{% assign pub_name = pub.publication %}
	{% assign pub_title = pub.title %}
	{% assign pub_location = pub.location %}
	{% if site[pub_name] %}
	<div class="container" style="margin-bottom:50px;">
		<h2>{{ pub_location }} - {{ pub_title }}</h2>
		<br>

		<!-- Someday we will need to address limiting to 5 latest, etc -->
		{% for post in site[pub_name] reversed limit:5 %}
		<div class="box">
			<div class="columns is-vcentered">
			<div class="column">

			<div class="columns is-vcentered is-mobile">
				<div class="column is-narrow">
					<span class="count">
						{{ forloop.rindex }}
					</span>
				</div>
				<div class="column">	
					<h3>{{ post.pub_date | date: "%Y" }} - {{ post.title }}</h3>
				</div>
			</div>

			</div>
			<div class="column is-narrow">
					<a href="{{ post.link }}" class="button is-large" target="_blank">Read</a>
			</div>
			</div>
		</div>
		{% endfor %}

		<a class="button is-small" target="_blank" href="{{ pub_name | prepend: site.baseurl }}.rss">RSS</a>
		<a class="button is-small" target="_blank" href="{{ pub_name | prepend: site.baseurl }}.xml">XML</a>

	</div>
	{% endif %}
	{% endfor %}

</section>
{% endif %}