---
layout: default
---
{% include base.html %}
<section id="intro" class="hero is-fullheight">
  	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered is-vcentered">
				<div class="column is-fullwidth has-text-centered">
					<img src="{{base}}/assets/images/tng_logo.png"  class="logo" alt="The New Gazette">
					<h2>
						Preserving local news summaries for our communities
					</h2>
				</div>
			</div>
		</div>
	</div>
	<a href="#publications">
		<div>See our archived publications</div>
		<span class="icon is-large">
		  <i class="fas fa-l2x fa-play"></i>
		</span>
	</a>
</section>

{% if site.publications %}
<section id="publications" class="section" name="publications">
	<div class="container">
		<h2>Huntsville, AL - The Monthly Brief</h2>
		<br>

		{% for pub in site.publications reversed %}
		<div class="box">
			<div class="columns is-vcentered">
			<div class="column">

			<div class="columns is-vcentered is-mobile">
				<div class="column is-narrow">
					<span class="count">
						{{ forloop.index }}
					</span>
				</div>
				<div class="column">	
					<h3>{{ pub.pub_date | date: "%Y" }} - {{ pub.title }}</h3>
				</div>
			</div>

			</div>
			<div class="column is-narrow">
					<a href="{{ pub.link }}" class="button is-primary is-large" target="_blank">Read</a>
			</div>
			</div>
		</div>
		{% endfor %}

		{% if site.rss.hsv-monthly %}
			{% for feed in site.rss.hsv-monthly %}
				<a class="button is-primary is-small" href="{{ feed.link }}">RSS Feed</a>
			{% endfor %}
		{% endif %} 

	</div>
</section>
{% endif %}