---
layout: default
---
{% include base.html %}
<section id="intro" class="hero is-fullheight">
  	<div class="hero-body">
		<div class="container">
			<div class="columns is-centered is-vcentered">
				<div class="column is-fullwidth has-text-centered">
					<img src="{{base}}/assets/images/tng_logo.png" alt="The New Gazette">
					<h2>
						Preserving local news summaries for our communities
					</h2>
				</div>
			</div>
		</div>
	</div>
	<a href="#publications">
		<div>See our archived publications</div>
		<span class="icon is-large">
		  <i class="fas fa-l2x fa-play"></i>
		</span>
	</a>
</section>

{% if site.publications.hsv-monthly %}
<section id="publications" class="section" name="publications">
	<div class="container">
		<h2>Huntsville, AL - The Monthly Brief</h2>
		<br>

		{% for post in site.publications.hsv-monthly-brief %}
		<div class="box">
			<div class="columns is-vcentered">
			<div class="column">

			<div class="columns is-vcentered is-mobile">
				<div class="column is-narrow">
					<span class="count">
						{{ forloop.index }}
					</span>
				</div>
				<div class="column">	
					<h3>{{ post.title }}</h3>
				</div>
			</div>

			</div>
			<div class="column is-narrow">
					<a href="{{ post.url }}" class="button is-primary is-large player-button" target="_blank">
						<span class="icon">
						  <i class="far fa-newspaper"></i>
						</span>
						Read
					</a>
			</div>
			</div>
		</div>
		{% endfor %}

		{% if site.rss.hsv-monthly-brief %}
		<a class="button is-primary is-small" href="{{ site.rss.hsv-monthly-brief.url }}">
			<span class="icon">
			  <i class="fas fa-rss"></i>
			</span>&nbsp;
			RSS Feed
		</a>
		{% endif %}

	</div>
</section>
{% endif %}